ENVIRONMENT=development
DEBUG=True
SECRET_KEY=38056e876a0c174d052b1f869b5dba9b6e6052083365d0fafa7cd7085c960fdf
DATABASE_URL=postgresql://postgres.kkywkvydbruefmkkbzoh:Tripmind_2026_dev@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres


# ------------------------------------------------------------------------------
# 2. Agent Engine & External APIs
# ------------------------------------------------------------------------------
# We primarily use Groq for speed/cost, with Gemini/OpenAI fallbacks
SERPER_API_KEY=your_serper_key_here
OPENWEATHER_API_KEY=your_openweather_key_here
GEOAPIFY_API_KEY=your_geoapify_key_here

GROQ_API_KEY=your_groq_key_here
GROQ_MODEL_NAME=llama-3.3-70b-versatile

# Fallback AI Models
OPENAI_API_KEY=your_openai_key_here
OPENAI_MODEL_NAME=gpt-4o-mini

# Google Gemini API Key
GOOGLE_API_KEY=your_google_key_here
GEMINI_MODEL_NAME=gemini-1.5-flash4o